<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create-user" class="active">Create User</a>
        <a href="/info-user">List User</a>
        <a href="#about">About</a>
      </div>

      <form action="/create-user" method="POST" post class="form-add-user">
        <fieldset>
            <legend>Add new User:</legend>
            <div class="group-input">
                    <label>Email:</label>
                    <input type="text" name="email">
            </div>
            <div class="group-input">
                    <label>Name:</label>
                    <input type="text" name="name">
            </div>
            <div class="group-input">
                <label>City:</label>
                <input type="text" name="city" >
            </div>
            <div class="group-btn">
                <button class="button-save">Add</button>
            </div>
        </fieldset>
      </form>
</body>
</html>