<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<style>
    .wellcome{
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }
</style>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create-user">Create User</a>
        <a href="/info-user">List User</a>
        <a href="#about">About</a>
      </div>
      <div class="wellcome">
        <h1>Chào mừng các bạn đến với ứng dụng quản lý User</h1>
      </div>
<!-- 
      <form action="/create-user" method="POST" post class="form-add-user">
        <fieldset>
            <legend>Add new User:</legend>
            <div class="group-input">
                    <label>Email:</label>
                    <input type="text" name="email">
            </div>
            <div class="group-input">
                    <label>Name:</label>
                    <input type="text" name="name">
            </div>
            <div class="group-input">
                <label>City:</label>
                <input type="text" name="city" >
            </div>
            <div class="group-btn">
                <button class="button-save">Add</button>
            </div>
        </fieldset>
      </form> -->
</body>
</html>