<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create-user">Create User</a>
        <a href="/info-user"  class="active">List User</a>
        <a href="#about">About</a>
      </div>
      <h1 style="padding: 0 20px;">List User :</h1>
      <div class="table-user">
        <table>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
            </tr>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Name</td>
                <td>City</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Name</td>
                <td>City</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Name</td>
                <td>City</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Name</td>
                <td>City</td>
            </tr>
            
        </table>
      </div>

      
</body>
</html>